@import "../styles/variables.css";


.container {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* HEADER */

header{
    width: 1460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


.header__logo {
    width: 6rem;
}
 
.nav__list {
    display: flex;
    justify-content: right;
}

.nav__name {
    margin-right: 10rem;

    display: flex;
    color: aliceblue;
    align-items: center;
}

.nav__item {
    color: white;
    padding: 3rem;
    text-decoration: none;

}

.nav__callback {
    color: white;
    border: 1px solid blue;
    padding: 1rem;
    text-decoration: none;
}

.contacts {
    font-size: 21px;
}

.call__imagine {
    padding: 1rem;
}

.callback__color {
    color: rgb(0, 13, 255);
    font-size: 24px;

}
.logo__name {
    padding: 2rem;
    font-size: 21px;

}

/* MAIN-1st */

.main__wrapper {
    background-image: url(../assets/images/kyiv.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: auto 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

main {
   
    width: 1460px;
    filter: grayscale(15%);


}

main:hover {
    filter: grayscale(0%);
    transition: 500ms;
}


h2 {
    padding-top: 2rem;
}
.main__title-1st {
     width: 1460px;
    margin: 0 auto;
    color: white;
    font-size: 40px;
    
    
}

.main__text {
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main__content-1st {
    width: 1460px;
    margin: 0 auto;
    display: grid;
    color: white;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-gap: 2rem;
}

.grid__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 21px;

}

.item-1st {
    background: rgba(0, 145, 255, 0.906);
    color: rgb(255, 255, 255);
grid-column: 1/3;
}


.item-2nd {
    background: rgba(255, 255, 255, 0.892);
    color: black;
    grid-column:  3/5;

}


.item-3rd {
    background: rgba(0, 0, 0, 0.849);
    color: rgb(0, 145, 255);
    grid-column: 5 / 7;

}

.item-4th {
background: rgba(0, 0, 0, 0.888);
color: rgb(0, 145, 255);
grid-column: 1/4;
}

.item-5th {
    background: rgba(0, 145, 255, 0.879);
    color: white;
    grid-column: 4/7;
}

/* MAIN-2nd */

.main__wrapper-2 {
    background-image: url(../assets/images/c3cf777bcb1d473034c453d7eac56e0b.jpg);
    background-attachment: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: 50% 50%;
    background-size: auto 100%;
}

.container__projects {
    background-color: rgba(0, 0, 0, 0.643);
    width: 800rem;
}

.main__title-2nd {
color: white;
width: 1460px;
margin: 0 auto;
font-size: 40px;
display: flex;
justify-content: left;
padding: 1rem;

}

.main__content-2nd {
width: 1460px;
margin: 0 auto;
display: grid;
color: white;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 291px);
grid-gap: 2rem;
}

.grid__items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 21px;
    padding: 2rem;


}

.items-1st {
    background: rgba(0, 0, 0, 0.906);
    color: rgb(255, 255, 255);
    grid-column: 1/3;
    margin-top: 2rem;
    transition: 500ms;

}
.items-1st:hover {
    transform: scale(1.1);
    background-image: url(https://www.faynatown.kiev.ua/wp-content/uploads/faynatownlogo.jpg);
}


.items-2nd {
    background: rgba(0, 0, 0, 0.892);
    color: rgb(255, 255, 255);
    grid-column:  3/5;
    grid-row: 1/3;
    margin-top: 2rem;


}


.items-3rd {
    background: rgba(0, 0, 0, 0.849);
    color: rgb(255, 255, 255);
    grid-column: 5 / 7;
    grid-row: 1/3;
    margin-top: 2rem;




}

.items-4th {
background: rgba(0, 0, 0, 0.888);
color: rgb(255, 255, 255);
grid-column: 1/3;
grid-row: 2/5;
}

.items-5th {
    background: rgba(0, 0, 0, 0.879);
    color: white;
    grid-column: 5/7;


}

.items-6th {
    background: rgba(0, 0, 0, 0.879);
    color: white;
    grid-column: 3/5;
    grid-row: 3/5;


}


.items-7th {
    background: rgba(0, 0, 0, 0.879);
    color: white;
    grid-column: 5/7;

}

/* MAIN-3rd */

.main__container-3rd {
    background-image: url(https://www.kandevelopment.com/upload/iblock/506/50604cc1e4efd618c568c21f5709119f.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: auto 100%;
    width: 100%;
}

.container__project {
    background-color: rgba(0, 0, 0, 0.643);
    margin-top: 2rem;

}

.main__title-3rd {
    color: white;
    width: 1460px;
    margin: 0 auto;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



.main__content-3rd {
    
width: 1460px;
margin: 0 auto;
display: grid;
color: white;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 391px);
}

.grid__itemes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;

}

.itemes-1st {
background-image: url(../assets/images/файна.png); 
color: rgb(255, 255, 255);
grid-column: 1/3;
margin-top: 2rem;

}


.itemes-2nd {
    background-image: url(../assets/images/Respublika.jpg);
    color: black;
    grid-column:  3/5;
    margin-top: 2rem;

}


.itemes-3rd {
background-image:
 url(../assets/images/IQ.png);
color: rgb(0, 145, 255);
grid-column: 5 / 7;
margin-top: 2rem;

}

.itemes-4th {
background-image: url(../assets/images/Senator.jpg);
color: rgb(0, 145, 255);
grid-column: 1/3;
margin-bottom: 2rem;

}

.itemes-5th {
    background-image: url(../assets/images/A+.jpg);
    color: white;
    grid-column: 3/5;
    margin-bottom: 2rem;

}

.itemes-6th {
    background-image: url(../assets/images/Comfort.jpeg);
    color: white;
    grid-column: 5/7;
    margin-bottom: 2rem;
}

.all__projects {
    color: white;
    text-decoration: none;
    border: 1px solid rgb(170, 255, 0);
    padding: 1rem;
}

.footer {
    background-color: black;
    height: 20vh;
}
