
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilam";
    }

    @font-face {
        font-family: "Gilam";
        src: url(../assets/fonts/Gilam/GilamDemo-Black.otf);
    }